
/*override defaults styles*/
* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: "Poppins", sans-serif;

}
/* for easy navigation colors */
:root {
    --bg-color: #92bda4ab;
    --second-bg-color: #197530bd;
    --text-color: White;
    --main-color: #0a6630;
}


html {
    font-size: 60%;
    overflow-x: hidden;
}

body {
    background: var(--bg-color);
    color: var(--text-color);
}
