
/*override defaults styles*/
* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: "Poppins", sans-serif;

}
/* for easy navigation colors */
:root {
    --bg-color: #92bda4ab;
    --second-bg-color: #197530bd;
    --text-color: White;
    --main-color: #0a6630;
}


html {
    font-size: 60%;
    overflow-x: hidden;
}

body {
    background: var(--bg-color);
    color: var(--text-color);
}

/* Hero Section */
.hero {
    background-image: url('images/hero.webp');
    /*  hero image  */
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(8, 112, 30);
    text-align: center;
    padding: 0 2rem;
}


.hero h1 {
    font-size: 6rem;
    margin-bottom: 1rem;
}

.hero p {
    font-size: 2rem;
    margin-bottom: 3rem;
    font-weight: 600;
}

.cta-button {
    background-color: #1c5f1cc9;
    color: rgb(255, 255, 255);
    padding: 1rem 2rem;
    text-decoration: none;
    font-size: 2rem;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.cta-button:hover {
    background-color: #308b4c;
}

/*services style*/

.services {
    background-color: var(--second-bg-color);
    color: black;
}

.services h2 {
    margin-bottom: 5rem;
    color: white;
}

.services-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 2.5rem;
}

.services-box {
    background-color: var(--main-color);
    height: 300px;
    border-radius: 3rem;
    border: 5px solid transparent;
    cursor: pointer;
    transition: 0.4s ease-in-out;
    display: flex;
    flex-direction: column;
}

.services-box:hover {
    background: white;
    color: black;
    border: 5px solid var(--main-color);
    transform: scale(1.03);
}

.services-box .services-info {
    display: flex;
    flex-direction: column;
    text-align: left;
    max-height: 200px;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 5rem 5rem;
}

.services-info h4 {
    font-size: 2rem;
    font-weight: 800;
    line-height: 2;
}

.services-info p {
    font-size: 1.5rem;
    font-weight: 700;
    max-height: 100px;
    line-height: 1.7;
    margin: auto;
}

/*slides styles*/

#slider {
    overflow: hidden;
}

#slider figure img {
    width: 20%;
    float: left;
}

#slider figure {
    position: relative;
    width: 500%;
    margin: 0;
    left: 0;
    text-align: left;
    font-size: 0;
    animation: 20s slider infinite ease-in-out;

}

@keyframes slider {

    0% {
        left: 0;
    }

    20% {
        left: 0;
    }

    25% {
        left: -100%;
    }

    45% {
        left: -100%;

    }

    50% {
        left: -200%;

    }

    70% {
        left: -200%;
    }

    75% {
        left: -300%;
    }

    95% {
        left: -300%;
    }

    100% {
        left: -400%;

    }

}

/* Responsive Adjustments (Optional) */
@media (max-width: 768px) {
    .slider {
        height: 50vh;
        /* Smaller height for tablets */
    }
}

@media (max-width: 576px) {
    .slider {
        height: 40vh;
        /* Smaller height for mobile */
    }
}

